<!--DEPRECATED: this file is part of an older simulation-->
<?xml version="1.0"?>
<model>
    <name>drone</name>
    <version>1.0</version>

    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>nixnord</name>
        <email>cryptonian007@protonmail.com</email>
    </author>

    <description>
        Simple drone for LoRa trilateration simulation
    </description>
</model>